services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    dns:
      - 8.8.8.8
      - 1.1.1.1
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    env_file:
      - .env
    depends_on:
      - db
      - redis

  # データベース
  db:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: nexussync_db
      MYSQL_ROOT_PASSWORD: root_password
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  # キャッシュ & キュー
  redis:
    image: redis:alpine