services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    dns:
      - 8.8.8.8
      - 1.1.1.1
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
      - ./docker/php/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    env_file:
      - .env
    depends_on:
      - redis
    environment:
      DB_HOST: ${DB_HOST}
    extra_hosts:
      - "host.docker.internal:host-gateway"

  # キャッシュ & キュー
  redis:
    image: redis:alpine
